<footer>
	<div class="footavatar">
		<img src="{{url_for('static', filename='theme/girl/img/photo.jpg')}}" class="footphoto">
		<ul class="footinfo">
			<p class="fname">
				<a href="/dancesmile">青依紫霖</a>
			</p>
			<p class="finfo">性别：女 年龄：18岁</p>
			<p>现居：湖北武汉</p>
		</ul>
	</div>
	<div class="Copyright">
		<ul>
		    Copyright &copy; 2015 Oneblog |
		    <a href="https://github.com/supor/simple-blog" target="_blank" title="github">Source</a>
			<a href='/admin' class='btn'>管理后台</a>
		</ul>
		<p>Design by supor</p>
	</div>
</footer>
</body>
</html>