<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{page_title}} - {{site.sitename()}}</title>
		<meta name="description" content="{{site.description()}}">
	    <meta name="viewport" content="width=device-width">

		<link rel="stylesheet" href="{{url_for('static', filename='theme/girl/css/style.css')}}">
		<link rel="shortcut icon" href="{{url_for('static', filename='theme/default/img/favicon.png')}}">

		<!--[if lt IE 9]>
		<script src="js/modernizr.js"></script>
		<![endif]-->
		<!--获取当前页导航 高亮显示标题-->
		<script src="{{url_for('static', filename='theme/girl/js/silder.js')}}"></script>
		

