{% extends "theme/girl/layout.html" %} {% block blogitem %} 


{% if posts %}
    {% set i = 1 %}
    {% for post in posts %}
        {% set bg = 'background: hsl(215, 28%%, %d%%)' %( (i /10 * 20) + 20) %}
        {% set i = i + 1 %}
            <article>
                <h2 class="title">
                    <a href="/post/{{ post.slug }}">{{ post.title }}</a>
                </h2>
                <ul class="text">
                    {{post.html | markdown | safe}}
                </ul>
                <div class="textfoot">
                    <span>{{ post.create_time }}</span>
                    <a href="/post/{{ post.slug }}">阅读全文</a><a href="/post/{{ post.slug }}">评论</a><a href="/">分享</a>
                </div>
            </article>
    {% endfor %}
    {% else %}
        <article>
            <h2 class="title">啥也没有</h2>
            <p>这家伙太懒!</p>
        </article>
{% endif %}

<div class="pages">
	<span>1</span><a href="/" hidefocus="">2</a><a href="/" hidefocus="">3</a><a
		href="/" class="next">下一页&gt;&gt;</a>
</div>
{% endblock %}
