<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>文章详情页</title>
</head>
<body>
<h1>{{article.title}}</h1>
<p>
    {{article.content}}
</p>
<div>
    <h2>评论：</h2>
    <form action="/article/add_comment" method="post">
        <input type="hidden" name="aid" value="{{article.id}}">
        输入一个名称：<input type="text" name="author" value="" /><br><br>
        <textarea name="content" rows="10" cols="30"></textarea><br>
        <input type="submit" value="发布评论" />
    </form>
    <ul>
        {%  for comment in article.comments  %}
                <li>@{{ comment.author }}  {{ comment.content }}   {{comment.create_time}}</li>
        {% endfor %}
    </ul>
</div>
</body>
</html>