{% extends "theme/default/layout.html" %}
{% block body %}
	{% if posts %}
		<section class="content">
			<ul class="items">
				{% set i = 1 %}
				{% for post in posts %}
					{% set bg = 'background: hsl(215, 28%%, %d%%)' %( (i /10 * 20) + 20) %}
					{% set i = i + 1 %}
					<li style="{{ bg }}">
						<article class="wrap">
							<h2>
							<a href="/post/{{ post.slug }}" title="{{ post.title }}">{{ post.title }}</a>
							</h2>
							<footer>
								发表于 <time datetime="{{ post.created }}">{{ post.create_time  }}</time> by  {{ post.author.username }}.
							</footer>
						</article>
					</li>
				{% endfor %}
			</ul>
			{% if post_total > site.posts_per_page() %}
				<nav class="pagination">
					<div class="wrap">
						{{posts.pre_link()}}
						{{posts.next_link()}}
					</div>
				</nav>
			{% endif %}
		</section>
	{% else %}
		<section class="content wrap">
			<h1>啥也没有</h1>
			<p>这家伙太懒!</p>
		</section>
	{% endif %}
{% endblock %}